---
import PostHog from "../components/posthog.astro";
import Footer from "../components/Footer";
import { Font } from 'astro:assets';

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Sonacove Meets - Fast, simple, and secure online meetings with a focus on privacy.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sonacove.com/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://sonacove.com/" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <title>{title}</title>
    
    <!-- Load and preload fonts -->
    <Font cssVariable="--font-crimson-pro" preload />
    <!-- <Font cssVariable="--font-lora"/> --> <!--Commented for now as it's not being used anywhere -->

    <PostHog />
  </head>
  <body class="min-h-screen bg-[#F9FAFB] flex flex-col cursor-custom">
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-crimson-pro), serif;
  }
</style>
