---
import PostHog from "../components/posthog.astro";
import Footer from "../components/Footer";
import { Font } from 'astro:assets';

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Sonacove Meets - Fast, simple, and secure online meetings with a focus on privacy.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sonacove.com/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://sonacove.com/" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <title>{title}</title>
    
    <!-- Load and preload fonts -->
    <Font cssVariable="--font-crimson-pro" preload />
    <!-- <Font cssVariable="--font-lora"/> --> <!--Commented for now as it's not being used anywhere -->

    <PostHog />
  </head>
  <body class="min-h-screen bg-[#F9FAFB] flex flex-col font-crimson cursor-custom">
    <main class="flex-1">
      <slot />
    </main>
    <Footer client:load />
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background-color: #f7f7f7;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 10px;
    border: 2px solid #f7f7f7;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #d1d1d1 #f7f7f7;
  }

</style>
